<div id="game_board" class="bg-slate-200 p-4 rounded-lg col-span-6 col-start-4">
  {{ svg|safe }}
  <div class="p-1"></div>
  <div class="flex flex-row gap-1 text-2xl">
    <button
      hx-post="/move/backward"
      hx-swap="outerHTML"
      hx-target="#main_screen"
      hx-select="#main_screen"
      class="w-full bg-red-200 rounded-lg p-3 font-bold"
    >
      Previous
    </button>
    <button
      hx-post="/move/forward"
      hx-swap="outerHTML"
      hx-target="#main_screen"
      hx-select="#main_screen"
      class="w-full bg-green-200 rounded-lg p-3 font-bold"
    >
      Next
    </button>
  </div>
</div>
